body {
    font-family: sans-serif;
    background-image:url('/ui/bb1.png');
    min-height: 21.36364rem;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: 100% 20%;
    background-size:100% 60%;
    background-attachment : fixed;
    height: 225px;
    max-height: none;

}
.center {
    text-align: inherit;
}

.text-big {
    font-size: 100%;color :green ;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 300px;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    color: grey;
    font-family: sans-serif;
    padding-top: 50;
    font-style:normal;
    text-align:center;

}
h1 {
  text-align:center;font-size:small;
  padding-top:5px;
}
