body {
    font-family: sans-serif;
    background-image:url('/ui/abb.png');
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
}
.center {
    text-align: center;
}

.text-big {
    font-size: 300%;color :black ;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 300px;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    color: grey;
    font-family: sans-serif;
    padding-top: 50;
    font-style: italic;
    
}

